@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: ROBOTO, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.body {
    max-width: 100vh;
    overflow-x: hidden;
}

main {
    overflow: hidden;
}

.nav__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    color: rgb(78, 14, 196);
    text-decoration: underline;
    transition: all 300ms ease;
}

p {
    font-size: 18px;
    line-height: 1.8;
    color: gray;
    padding-top: 8px;
}

.frame {
    display: flex;
    justify-content: center;
}

ul {
    padding: 16px 0;
}

li {
    list-style-type: none;
    padding: 12px 16px;
}

.logo__title {
    color: black;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title:hover {
    cursor: pointer;
    transition: all 300ms ease;
    color: rgb(78, 14, 196);
}

.nav__link--primary {
    margin: 24px;
    padding: 8px 28px;
    background-color: rgba(78, 14, 196, 0.952);
    color: white;
    border: 2px solid rgba(78, 14, 196, 0.918);
    border-radius: 24px;
}

.nav__link--primary:hover {
    color: white;
    background-color: rgb(76, 5, 199);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.purple {
    color: rgb(89, 25, 207);
}

.logo {
    width: 50px;
    height: 50px;
}

.btn__menu {
    background-color: transparent;
    font-size: 32px;
    border: none;
    color: blueviolet;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: rgb(89, 25, 207);
}

.menu__links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.menu__list {
    padding: 16px;
}

.menu__link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.menu__link:hover {
    color: rgb(89, 25, 207);
}

/* LANDING */

#landing {
    background-color: rgb(226, 232, 240);
}

.header__container {
    padding: 64px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header__img {
    width: 70%;
}

.bckg {
    width: 100%;
    height: 500px;
}

.row {
    width: 50%;
    max-width: 1200px;
}

h1 {
    font-size: 48px;
    color: rgb(0, 0, 0);
    padding: 4px 0;
}

.header__des {
   padding: 24px 0;
}

h2 {
    font-size: 26px;
    line-height: 1.5;
}

h3 {
    font-size: 19px;
    line-height: 1.5;
}

h4 {
    padding: 4px;
    color: gray;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: rgba(78, 14, 196, 0.932);
    color: white;
    height: 48px;
    margin-top: 4px;
    font-size: 20px;
    border-radius: 48px;
    border: none;
}

.btn:hover {
    background-color: rgb(69, 3, 192);
}

.email {
    border: 1px solid black;
    border-radius: 28px;
    width: 440px;
    height: 60px;
}

.input {
    border: none;
    width: 70%;
    height: 48px;
    margin: 5px 0 0 10px;
}

.input:focus {
    outline: none;
}

.input__wrapper {
    display: flex;
    width: 100%;
}

.trust {
    padding: 24px 0;
}

/* Features */

#features {
    padding: 80px 0;
}

.title {
    padding: 28px 0;
    color: rgb(78, 14, 196);
}

.feat__container {
    padding: 96px 0;
    text-align: center;
}

.feat__row {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.service__list {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.feat__wrapper {
    display: flex;
    flex: 1 1 30%;
}

.feat__img {
    border: 1px solid gray;
    color: rgb(78, 14, 196);
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    font-size: 32px;
}

.feat__subtitle {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}


/* QUALITY */

#quality {
    padding: 96px 0;
}

.quality__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.quality__row {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.quality__wrapper {
    width: 100%;
}

.quality__img {
    width: 100%;
}

.quality__des {
    margin: 32px 0 32px 0;
}

.hero {
    margin: 10px;
    width: 650px;
    height: 500px;
    border: 1px solid rgba(128, 128, 128, 0.589);
}

.btnq {
    background-color: rgb(78, 14, 196);
    color: white;
    padding: 4px;
    margin-top: 24px;
    width: 25%;
    font-size: 20px;
    border-radius: 32px;
}

/* STEPS */

#steps {
    margin: 0 auto;
}

.steps__container {
    padding: 84px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.steps__img {
    width: 100%;
    display: flex;
    align-items: center;
}

.steps__row {
    padding: 0 12px;
}

.lapt {
    max-width: 650px;
    height: 360px;
}
.steps__title {
    padding: 14px 0;
}

.steps__list {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 52px;
}

.steps__num {
    font-size: 34px;
    font-weight: bold;
    display: flex;
}

.gray {
    color: rgba(128, 128, 128, 0.842);
}

/*values */

#values {
    padding: 40px 0;
    max-width: 1280px;
    margin: 0 auto;
}

.val__container {
    padding: 64px 0;
    display: flex;
}

.valo {
    width: 90%;
}

.val__row {
    padding: 24px 0;
    display: flex;
}

.val__rows {
    margin-right: 20px;
}

.principle {
    display: flex;
}

.val__img {
    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: green;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.val__imgr {
    border: 1px solid rgba(243, 11, 11, 0.39);
    background-color: rgba(243, 11, 11, 0.39);
    color: red;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.val__subtitle {
    margin: 0 20px 0 20px;
}

.val__pic {
    width: 100%;
}

.pro__img {
    max-width: 700px;
    height: 600px;
}

/* PRICING */

#pricing{
    padding: 96px 0;
}

.p__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 0;
    flex-direction: column;
}

.p__title {
    text-align: center;
    padding: 16px 0;
}

.p__rows {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
}

.p__row {
    border: 1px solid rgba(128, 128, 128, 0.842);
    width: 32%;
    border-radius: 4px;
    margin-bottom: 24px;
}

.p__row--two {
    border: 1px solid rgba(128, 128, 128, 0.842);
    width: 32%;
    border-radius: 4px;
    background-color: rgba(60, 20, 236, 0.781);
    margin-bottom: 24px;
}

.plan {
    text-align: center;
    padding: 16px 0;
}

.companies {
    padding: 16px 0;
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.596);
    border-radius: 1px;
}

.btn__des {
    padding: 20px 0;
    text-align: center;
}

.plan__2 {
    text-align: center;
    padding: 18px 0;
    color: white;
}

.col__line {
    border: 3px solid rgba(26, 197, 209, 0.664);
}

.col__line--two {
    border: 3px solid salmon;
}

.btn1 {
    background-color: rgba(26, 197, 209, 0.664);
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: none;
}

.btn1:hover {
    filter: drop-shadow(20%);
    transform: scale(1.1);
}

.btn2 {
    background-color: white;
    color: rgb(78, 14, 196);
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: 1px solid rgb(78, 14, 196);
}

.btn3 {
    background-color: salmon;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: none;
}

.btn2:hover {
    filter: drop-shadow(20%);
    transform: scale(1.1);
}

.btn3:hover {
    filter: drop-shadow(20%);
    transform: scale(1.1);
}

.white {
    color: white;
}

/* TEST */

.test__container {
    width: 100%;
    margin: 0 auto;
    padding: 96px 0;
    display: flex;
}

.test__img {
    width: 100%;
}

.love__pic {
    width: 100%;
    max-width: 600px;
    height: 600px;
}
.test__row {
    width: 100%;
    margin-left: 36px;
}

.ratings{
    margin-top: 36px;
    color: gold;
}

/* FOOTER */

.last__container {
    background-color: rgb(78, 14, 196);
    width: 100%;
    padding: 64px 0;
}

.last__rows {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.last__row {
    width: 30%;
}

.footer__title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer__title:hover {
    text-decoration: none;
}

.footer__list{
    color: white;
    cursor: pointer;
    line-height: 24px;
}

.line:hover {
    color: white;
    text-decoration: underline;
    transition: all 3000ms ease;
}

.links {
    color: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 16px 32px;
}

.link {
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    border-radius: 16px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 16px;
}

.logo__title--bottom {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: rgb(187, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}


/* SMALL PHONE, TABLET, LARGE SMARTPHONES */

@media (max-width:1400px) {
    .p__container {
        flex-direction: column;
    }

    .test__container {
        width: 80%;
    }
}

@media (max-width: 924px) {
    .nav__container {
        width: 100%;
    }

    .nav__link--primary {
        display: none;
    }
    
    .valo{
        width: 60%;
    }

    .pro__img {
        width: 100%;
        flex-direction: column-reverse;
    }

    .p__rows {
        flex-direction: column;
        align-items: center;
        padding: 24px 0;
    }
}

@media (max-width: 768px) {

    .nav__links {
        display: none;
    }

    .nav__container {
        justify-content: space-between;
    }

    .btn__menu {
        display: block;
    }

    .header__container {
        flex-direction: column;
        align-items: center;
    }

    .row {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__des {
        text-align: center;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
    }

    button {
        max-width: 144px;
    }

    .ul {
        display: none;
    }

    .nav__links {
        display: none;
    }

    .header__img {
        width: 80%;
    }

    .feat__container {
        flex-direction: column;
    }

    .service__list{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .feat__wrapper {
        flex-direction: row;
        width: 50%;
    }
    
    .feat__img {
        width: 50%;
    }

    .val__container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .val__row {
        flex-direction: column;
        width: 100%;
    }

    .val__rows {
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
    }

    .principle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .valo {
        flex-direction: column;
        width: 60%;
    }

    .btnq {
        width: 120px;
    }

    .val__pic {
        width: 100%;
    }

    .quality__container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }

    .quality__row {
        align-items: center;
    }

    .steps__container {
        flex-direction: column;
        align-items: center;
    }

    .steps__list {
        text-align: center;
    }

    .steps__num {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .test__container {
        flex-direction: column;
    }

    .test__img {
        width: 100%;
    }

    .test__row {
        width: 100%;
    }

}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .logo__title {
        display: none;
    }

    #main {
        width: 90%;
    }
    
    main:not(:last-child) {
        margin-bottom: 24px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    button {
        max-width: 138px;
    }

    .nav__container {
        width: 25%;
    }

    .email {
        width: 280px;
        margin-bottom: 52px;
    }
    
    .input__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 280px;
        font-size:18px;
        margin-top: 8px;
    }
    
    .feat__container {
        flex-direction: column;
    }

    .feat__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .feat__img {
        width: 30%;
    }

    .feat__subtitle {
        text-align: center;
    }

    #values {
        flex-direction: column;
    }

    .val__container {
        width: 100%;
    }

    .p__container {
        flex-direction: column;
    }

    .btn1 {
        padding: 6px 12px;
    }

    .btn2 {
        padding: 6px 12px;
    }

    .btn3 {
        padding: 6px 12px;
    }

    footer {
        flex-direction: column;
    }

    .last__rows {
        flex-wrap: wrap;
    }

    .footer__list {
        padding: 0 4px;
        font-size: 15px;
    }

    .links {
        flex-direction: row;
        justify-content: center;
    }
}