@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SUSE, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.body {
    max-width: 100vh;
    overflow-x: hidden;
}

main {
    flex: 1;
    overflow: hidden;
}

.nav__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__link {
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    color: rgb(78, 14, 196);
    text-decoration: underline;
    transition: all 300ms ease;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: gray;
}

.frame {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    padding: 16px 0;
}

li {
    list-style-type: none;
    padding: 16px 16px;
}

.logo__title {
    color: black;
    font-size: 32px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__title:hover {
    cursor: pointer;
    transition: all 300ms ease;
    color: rgb(78, 14, 196);
}

.nav__link--primary {
    margin: 24px;
    padding: 8px 28px;
    background-color: rgb(78, 14, 196);
    color: white;
    border: 2px solid rgb(78, 14, 196);
    border-radius: 24px;
}

.nav__link--primary:hover {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.purple {
    color: rgb(89, 25, 207);
}

.logo {
    width: 50px;
    height: 50px;
}

.email__btn {
    border: 1px solid black;
    border-radius: 64px;
    max-width: 420px;
    height: 65px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: blueviolet;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: rgb(89, 25, 207);
}

.menu__links {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.menu__list {
    padding: 16px;
}

.menu__link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.menu__link:hover {
    color: rgb(89, 25, 207);
}

/* LANDING */

#landing {
    background-color: rgb(226, 232, 240);
}

header {
    height: calc(100vh- 80px);
}

.header__container {
    padding: 64px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header__img {
    width: 70%;
    max-width: 700px;
}

.bckg {
    width: 700px;
    height: 500px;
}

textarea {
    max-width: 240px;
    height: 40px;
    border: none;
    color: lightgrey;
}

.row {
    width: 40%;
    max-width: 1200px;
}

h1 {
    font-size: 44px;
    color: rgb(0, 0, 0);
}

.header__des {
   max-width: 400px;
   text-align: start;
   padding: 24px 0;
}

h2 {
    font-size: 24px;
    line-height: 1.5;
}

h3 {
    font-size: 18px;
    line-height: 1.5;
}

h4 {
    padding: 4px;
    color: gray;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: rgb(78, 14, 196);
    color: white;
    padding: 6px 8px;
    font-size: 20px;
    border-radius: 48px;
    border: none;
    margin-bottom: 12px;
}

.email {
    font-size: 16px;
    padding: 12px 12px;
    margin: 18px;
}

.trust {
    padding: 24px 0;
}

/* Features */

#features {
    height: calc(100vh- 80px);
    padding: 96px 0;
}

.title {
    padding: 32px 0;
    color: rgb(78, 14, 196);
}

.feat__row {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.feat__container {
    padding: 96px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.service__list {
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.feat__wrapper {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    height: 200px;
}

.feat__img {
    border: 1px solid gray;
    color: rgb(78, 14, 196);
    width: 25%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    font-size: 32px;
}

.feat__subtitle {
    text-align: center;
    margin-bottom: 24px;
    width: 80%;
}

.highlight__para {
    align-items: center;
}

/* QUALITY */

#quality {
    padding: 96px 0;
}

.quality__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.quality__row {
    width: 95%;
    display: flex;
    flex-direction: column;
}

.quality__wrapper {
    width: 160%;
    max-width: 900px;
    margin:  0 auto;
    flex-wrap: wrap;
}

.hero {
    margin: 10px;
    width: 650px;
    height: 500px;
    border: 1px solid rgba(128, 128, 128, 0.589);
}

.btnq {
    background-color: rgb(78, 14, 196);
    color: white;
    padding: 4px;
    margin-top: 24px;
    width: 25%;
    font-size: 20px;
    border-radius: 32px;
}

/* STEPS */


.steps__container {
    padding: 64px 0;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.steps__row {
    padding: 0 8px;
}

.lapt {
    max-width: 550px;
    height: 360px;
}

.steps__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.steps__num {
    font-size: 34px;
    font-weight: bold;
    display: flex;
}

.gray {
    color: gray;
}

/*values */

#values {
    padding: 32px 0;
    max-width: 1180px;
    margin: 0 auto;
}

.val__container {
    padding: 64px 0;
    width: 100%;
    display: flex;
}

.val__row {
    display: flex;
    margin-top: 24px;
}

.text {
    text-align: left;
}

.val__text {
    width: 50%;
    padding: 32px 0;
}

.principle {
    display: flex;
}

.val__img {
    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: green;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.val__imgr {
    border: 1px solid rgba(243, 11, 11, 0.39);
    background-color: rgba(243, 11, 11, 0.39);
    color: red;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.val__subtitle {
    margin: 0 16px 0 16px;
    font-weight: bold;
}

.pro__img {
    max-width: 550px;
    height: 400px;
}

/* PRICING */

#pricing{
    padding: 96px 0;
}

.p__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 180px 0 180px;
    padding: 64px 0;
}

.p__title {
    text-align: center;
    
}

.p__rows {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p__row {
    border: 1px solid gray;
    width: 30%;
    border-radius: 5px;
    height: 440px;
}

.p__row--two {
    border: 1px solid gray;
    width: 30%;
    border-radius: 5px;
    height: 440px;
    background-color: rgba(72, 24, 247, 0.945);
}

.plan {
    text-align: center;
    height: 440px;
}

.plan__2 {
    text-align: center;
    color: white;
}

.btn1 {
    background-color: rgb(28, 173, 184);
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: none;
}

.btn2 {
    background-color: white;
    color: rgb(78, 14, 196);
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: 1px solid rgb(78, 14, 196);
}

.btn3 {
    background-color: salmon;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 28px;
    border: none;
}

.white {
    color: white;
}

/* TEST */

#testimonal {
    padding: 96px 0;
}

.test__container {
    width: 100%;
    max-width: 1280px;
    margin: 0 180px 0 180px;
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
}
.love__pic {
    width: 100%;
    max-width: 600px;
    height: 600px;
}
.test__row {
    width: 40%;
}

.ratings{
    margin-bottom: 8px;
    color: gold;
}

/* FOOTER */

.last__container {
    background-color: rgb(78, 14, 196);
    width: 100%;
    height: 500px;
    padding: 64px 0;
}

.last__rows {
    display: flex;
    justify-content: space-around;
}

.footer__title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer__title:hover {
    text-decoration: none;
}

.footer__list{
    color: white;
    cursor: pointer;
    flex-direction: column;
    line-height: 24px;
}

.line:hover {
    color: white;
    text-decoration: underline;
}

.links {
    color: black;
    display: flex;
    flex-direction: row-reverse;
    padding: 16px 32px;
}

.link {
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    border-radius: 16px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 16px;
}

.copyright {
    color: rgb(187, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


/* SMALL PHONE, TABLET, LARGE SMARTPHONES */
@media (max-width: 924px) {
    .nav__links {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .header__container {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        width: 100%;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 16px;
    }

    button {
        max-width: 144px;
    }

    .ul {
        display: none;
    }

    .nav__links {
        display: none;
    }

    .header__img {
        width: 80%;
    }

    .feat__container {
        flex-direction: column;
        padding: 12px 24px;
    }

    .service__list {
        flex-direction: column;
        padding: 0 12px;
        align-items: center;
    }

    #values {
        
    }

    .val__container {
        flex-direction: column;
    }


    .quality__container {
        flex-direction: column;
    }

    .quality__row {
        align-items: center;
    }

    .steps__row {
        flex-direction: column;
        align-items: center;
    }

    .p__container {
        flex-direction: column;
    }

    .test__container {
        flex-direction: column;
    }

    .last__container {
        flex-direction: column;
    }

}

/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .logo__title {
        display: none;
    }

    #main {
        width: 90%;
    }
    
    main:not(:last-child) {
        margin-bottom: 24px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    button {
        max-width: 138px;
    }

    .nav__container {
        width: 25%;
    }
    
    .feat__container {
        width: 50%;
        text-align: center;
    }

    #values {
        width: 50%;
    }

    footer {
        padding: 48px 24px;
    }

    .footer__list {
        padding: 0 4px;
        font-size: 18px;
    }
}